body{
    font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow-x:hidden;
    margin:0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight:700;
    text-align:center;
}

p{
    font-size:20px;
    text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color: #333;
    display:flex;
    justify-content: center;
    flex-flow:row wrap;
}

li {
    text-transform:uppercase;
    font-size: 11px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover {
    background-color:#fff;
    color: #333;
}

.name{
    color:white;
}

.title {
    color:white;
}

header{
    text-align:center;
    background:#333;
}

header .container{
    padding-bottom:50px;
    margin-bottom:0;
}

header img{
    display:block;
    margin:0 auto 20px;
}

.intro-text{
    padding-top:15px;
}

header .intro-text name{
    display:block;
    font-weight:700;
    font-size:2em;
}

header .intro-text .skills{
    font-size:1.25em;
    font-weight:300;
    color:white;
}

.star-light, .star-primary, .star-green, .star-hidden{
    padding:0;
    border:none;
    border-top:solid 5px;
    text-align:center;
    max-width:250px;
    margin:25px auto 30px;
}

.star-light {
    border-color:white;
}

.star-primary {
    border-color:#333;
}

.study{
    margin:5px;
    width:30%;
    padding:5px;
    border:solid 2px #18BC9C;
}

.study:hover {
    background-color:#18BC9C;
    color: white;
}

.experience{
    margin:5px;
    padding:5px;
    width:30%;
    border:solid 2px #18BC9C;
}

.experience:hover {
    background-color:#18BC9C;
    color: white;
}

.flex-container {
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    padding-top:20px;
    padding-bottom:50px;
}

footer {
    background-color: #333;
    color: white;
    margin:0;
    padding: 2px;
}

footer p {
    font-size: 12px;
    display: flex;
    padding-left: 50px;
}

.star-green {
    border-color: #18BC9C;
}

#carrousel {
    background-color: #333;
    color:white;
    padding: 10px;
}

.star-hidden {
    opacity:0;
    border-color: white;
    border:solid 1px;
}

.study:hover .star-hidden {
    opacity:100;
}

.experience:hover .star-hidden {
    opacity:100;
}